<h2>Enter both players names</h2>
<form action="/named-cat" method="post">
  <input type="text" name="Player One">
  <input type="text" name="Player Two">
  <input type="submit" value="Submit">
</form>
