<div style="display: flex; justify-content: center; align-items: center; font-family: Arial;">
  <form action="/names" method="post">
    <h2>Enter Player Names</h2>
    <div style="margin-bottom: 1.2em;">
      <strong>Player One</strong> <br>
      <input type="text" name="player_one"><br>
    </div>
    <div style="margin-bottom: 1.2em;">
      <strong>Player Two</strong> <br>
      <input type="text" name="player_two"><br>
    </div>
    <input style="font-size: 1em;" type="submit" value="Submit">
  </form>
</div>
