<div style="display: flex; justify-content: center; align-items: center;">
  <form action="/named-cat" method="post">
    <h2>Enter Player Names</h2>
    <div style="margin-bottom: 1.2em;">
      <strong>Player One</strong> <br>
      <input type="text" name="Player One"><br>
    </div>
    <div style="margin-bottom: 1.2em;">
      <strong>Player Two</strong> <br>
      <input type="text" name="Player Two"><br>
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
