<div style="display: flex; justify-content: center; align-items: center;">
  <div style="font-family: Arial; background: #e1e1e1; padding: 1em 4em 1em 4em; margin-top: 3em; border-radius: 20px;">
    <h3>Player One:</h3>
    <p><%= @player_one %></p>
    <h3>Player Two:</h3>
    <p><%= @player_two %></p>
  </div>
</div>
